<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
    <add key="mixedreality" value="https://microsoft.pkgs.visualstudio.com/_packaging/Microsoft.MixedReality/nuget/v2/" />
  </packageSources>
  <disabledPackageSources>
    <add key="mixedreality" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
  </config>
</configuration>